html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.contact {
  padding: 10px;
}
.nav-link {
  color: gray;
}
.nav-link:active {
  color: orange;
}
.nav-link:hover {
  color: orange;
}
.nav-item {
  padding-right: 30px;
}
.navbar-toggler-icon button {
  color: white;
  /* nece da radi */
}
.service__img {
  width: 100%;
}
button {
  background-color: orange;
}
